*{
	margin:0;
	padding:0;
}
html,
body,
div,
span,
p,
h1,
h2,
h3,
b,
i,
a,
em,
input,
form,
img,
ul,
li,
dl,
dt {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-style: normal;
  box-sizing: border-box;
}
ul,
li,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display:block;
  width:100%;
}
body{
  width:100vw;
  height:100vh;
  background:#eee;
}
.aD_Top{
  width:100vw;
  height:1rem;
  position:relative;
  background:#f4f4f4;
  border-bottom:2px solid #d7d7d7;
}
.aD_top_arrow{
  width:0.2rem;
  height:0.36rem;
  position:absolute;
  top:0.32rem;
  left:0.26rem;
}
.aD_top_help{
  width:0.62rem;
  line-height:0.98rem;
  position:absolute;
  right:0.42rem;
  font-size:0.28rem;
}
.aD_top_user{
  width:2rem;
  height:0.98rem;
  text-align:center;
  margin:0 auto;
  font-size:0.3rem;
  font-weight:bold;
  line-height:0.98rem;
}
.aD_user{
  padding-top:0.24rem;
}
.aD_user_top{
  width:100vw;
  height:2.8rem;
}
.aD_user_top>div{
  width:100vw;
  height:0.86rem;
  background:#fff;
  display:flex;
  border-bottom:1px solid #d7d7d7;
}
.aD_user_top>div>span{
  display:block;
  width:1.86rem;
  padding-left:0.22rem;
  line-height:0.86rem;
  font-size:0.26rem;
  font-weight:bold;
}
.aD_user_top>div>input{
  display:block;
  width:2.34rem;
  height:0.84rem;
  font-size:0.26rem;
}
.aD_user_top>input[type="button"]{
  display:block;
  width:6.08rem;
  height:0.84rem;
  background:#ff5000;
  font-size:0.3rem;
  text-align:center;
  color:#ed8867;
  border:1px solid #ecfcff;
  margin:0.24rem auto 0 auto;
  border-radius:0.1rem;
}
.aD_user_center{
  width:6.08rem;
  margin:0 auto;
  overflow:hidden;
}
.aD_user_center a:nth-child(1){
  float:left;
}
.aD_user_center a:nth-child(2){
  float:right;
}
.aD_user_center a{
  display:block;
  line-height:0.92rem;
  font-size:0.22rem;
  color:#505561;
}
.aD_user_bottom a{
	display:block;
  width:1.7rem;
  height:0.6rem;
  text-align:center;
  line-height:0.58rem;
  border-radius:0.1rem;
  font-size:0.24rem;
  color:orange;
  margin:0.1rem auto;
  border:1px solid orange;
}

