* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0.26rem;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
ul,
ol,
li,
dt,
dd,
dl,
i,
em,
strong,
b,
form {
	font-family: Verdana, Geneva, sans-serif 'Microsoft Yahei';
}

a {
	text-decoration: none;
}

html,
body {
	width: 100%;
	height: 100%;
}

i,
em {
	font-style: normal;
}

body {
	background: #eeeeee;
	/*position: relative;*/
}
img{
	display:block;
}


.y_top{
	width: 100%;
	/*height: 5.97rem;*/
}
.y_top>img{
	width: 100%;
	height: auto;
}
.y_dw{
	width: 100%;
	height: 0.69rem;
	position: absolute;
	top: 0.09rem;
	left: 0;
}
.y_dw>p{
	width: 0.69rem;
	height: 0.69rem;
}
.y_dw>p:nth-child(1){
	float: left;
	margin-left: 0.15rem;
	background: url(../img/p36.png) center no-repeat;
	background-size: 0.69rem 0.69rem;
}
.y_dw>p:nth-child(2){
	float: right;
	margin-right: 0.15rem;
	background: url(../img/p37.png) center no-repeat;
	background-size: 0.69rem 0.69rem;
}
.y_dw>p:nth-child(3){
	float: right;
	margin-right: 0.15rem;
	background: url(../img/p38.png) center no-repeat;
	background-size: 0.69rem 0.69rem;
}
.y_xq{
	height: 1.6rem;
	width: 100%;
	background: #fff;
}
.y_ntop{
	height: 0.88rem;
	padding: 0 0.21rem 0 0.21rem;
	display: flex;
}
.y_nLeft{
	flex: 1;
	display: block;
	font-size: 0.28rem;
	padding-top: 0.1rem;
	line-height: 0.35rem;
}
.y_nLeft>i{
	float: left;
	display: block;
	width: 0.33rem;
	height: 0.31rem;
	background: url(../img/p2.jpg) no-repeat;
	background-size: 0.33rem 0.27rem;
}
.y_nRight{
	display: block;
	width: 0.94rem;
	height: 0.64rem;
	text-align: center;
	margin-top: 0.14rem;
	border-left: 1px solid #e5e5e5;
	font-size: 0.16rem;
	color: #505661;
}
.y_nRight>i{
	display: block;
	height: 0.45rem;
	width: 0.94rem;
	background: url(../img/p3.jpg) center no-repeat;
	text-align: center;
	background-size: 0.27rem 0.31rem;
}
.y_nbottom{
	height: 0.4rem;
	background: #fff;
	
}
.y_jiaq{
	padding: 0 0.21rem 0 0.21rem;
	display: block;
}
.y_jql{
	float: left;
	color: #ff4b00;
	font-size: 0.45rem;
}
.y_jqr{
	display: block;
	float: left;
	color: #ff4b00;
	margin-left: 0.27rem;
	border-radius: 0.03rem;
	border: 0.01rem solid #ff4b00;
	font-size: 0.16rem;
	margin-top: 0.08rem;
	padding: 0.02rem 0.04rem;
}
.y_baoy{
	height: 1.5rem;
	background: #fff;
}
.y_baoyy{
	padding: 0 0.21rem 0 0.21rem;
	height: 0.21rem;
	display: block;
}
.y_baoyy>p{
	color: #8f8f8f;
	font-size: 0.21rem;
}
.y_baoyy>p:nth-child(1){
	float: left;
}
.y_baoyy>p:nth-child(2){
	float: right;
}
.y_btix{
	display: block;
	padding: 0 0.21rem 0 0.21rem;
	height: 0.2rem;
	color: #8f8f8f;
	font-size: 0.21rem;
	margin-top: 0.4rem;
}
.y_chaoshi{
	margin-top: 0.21rem;
	height: 1.3rem;
	background: #fef7f7;
}
.y_cstop{
	padding: 0 0.21rem 0 0.21rem;
	height: 1.3rem;
}
.y_cstu{
	width: 100%;
	height: 0.52rem;
	background: url(../img/p4.jpg) no-repeat;
	background-position-y: 0.2rem;
	background-size: 1.35rem 0.32rem;
	
}
.y_scwz{
	height: 0.2rem;
	margin-top: 0.25rem;
}
.y_scwz>span{
	display: block;
	float: left;
	margin-right: 0.55rem;
	color: #5a5a5a;
}
.y_scwz>span>img{
	width: 0.2rem;
	height: 0.2rem;
	float: left;
}
.y_scwz>span>p{
	font-size: 0.2rem;
	float: left;
	margin-left: 0.07rem;
}
.y_scwz>i{
	width: 0.12rem;
	height: 0.18rem;
	float: right;
}
.y_scwz>i>img{
	width: 100%;
	height: auto;
}

.y_sgwq{
	height: 0.88rem;
	background: #fef7f7;
	border-top: 0.01rem solid #fbe3e3;
}
.y_sgwq>span{
	display: block;
	padding: 0 0.21rem 0 0.21rem;
	height: 0.88rem;
}
.y_sgwq>span>i{
	float: left;
	width: 1.36rem;
	display: block;
	height: 0.88rem;
	background: url(../img/p7.jpg) center no-repeat;
	background-size: 100% auto;
}
.y_sgwq>span>p{
	width: 4rem;
	color: #323434;
	font-size: 0.2rem;
	float: left;
	line-height: 0.88rem;
	margin-left: 0.09rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.y_sgwq>span>em{
	display: block;
	width: 0.12rem;
	height: 0.88rem;
	float: right;
	background: url(../img/p6.jpg) center no-repeat;
	background-size: 0.12rem 0.18rem;
	
}

.y_xiang{
	height: 1.27rem;
	background: #f8f8f8;
	border-top: 0.01rem solid #fae3e3;
}
.y_xiangg{
	display: block;
	padding: 0 0.21rem 0 0.21rem;
	display: flex;
}
.y_lll{
	height: 1.27rem;
	float: left;
	flex: 1;
}
.y_lll>span:nth-child(1){
	width: 100%;
	height: 0.34rem;
	float: left;
	display: block;
	font-size: 0.2rem;
	margin-top: 0.25rem;
	color: #515151;
	line-height: 0.34rem;
}
.y_lll>span:nth-child(1)>p{
	float: left;
	display: block;
	height: 0.24rem;
	border: 0.01rem solid #ff4700;
	border-radius: 0.03rem;
	color: #ff4700;
	padding: 0.02rem 0.03rem;
	margin-right: 0.1rem;
	line-height: 0.24rem;
}
.y_lll>span:nth-child(2){
	width: 100%;
	height: 0.24rem;
	float: left;
	display: block;
	font-size: 0.2rem;
	margin-top: 0.15rem;
	color: #515151;
	line-height: 0.34rem;
}
.y_lll>span:nth-child(2)>p{
	float: left;
	display: block;
	height: 0.24rem;
	border: 0.01rem solid #ff4700;
	border-radius: 0.03rem;
	color: #ff4700;
	padding: 0.02rem 0.03rem;
	margin-right: 0.1rem;
	line-height: 0.24rem;
}
.y_xiangg>i{
	float: right;
	display: block;
	height: 1.27rem;
	width: 0.12rem;
	background: url(../img/p6.jpg) center no-repeat;
	background-size: 0.12rem 0.18rem;
}
.y_peis{
	height: 0.75rem;
	background: #fff;
	margin-top: 0.21rem;
}
.y_peis>span{
	display: block;
	padding: 0 0.21rem 0 0.21rem;
	color: #000514;
	font-size: 0.22rem;
	line-height: 0.75rem;
}
.y_peis>span>i{
	display: block;
	width: 0.12rem;
	height: 0.75rem;
	float: right;
	background: url(../img/p6.jpg) center no-repeat;
	background-size: 0.12rem 0.18rem;
	
}
.footer{
	display: flex;
	width: 100%;
	height: 0.85rem;
	border-top: 0.01rem solid #d8d8d8;
	background: #fff;
	position: fixed;
	bottom: 0;
}
.footer>p:nth-child(1){
	float: left;
	width: 0.87rem;
	height: 100%;
	border-right: 0.01rem solid #d8d8d8;
	font-size: 0.16rem;
	color: #515762;
	text-align: center;
	
}

.footer>p:nth-child(1):hover{
		color: #ff5000;
}

.footer>p:nth-child(1)>i{
	width: 0.87rem;
	height: 0.54rem;
	display: block;
	background: url(../img/p8.jpg) center no-repeat;
	background-size: 0.31rem;
}

.footer>p:nth-child(2){
	float: left;
	width: 1.76rem;
	height: 100%;
	font-size: 0.16rem;
	color: #515762;
	text-align: center;
}
.footer>p:nth-child(2)>i{
	width: 1.76rem;
	height: 0.54rem;
	display: block;
	background: url(../img/p9.jpg) center no-repeat;
	background-size: 0.31rem;
}
#y_q{
	color: #ff4400;
	font-size: 0.16rem;
}
.footer>p:nth-child(3){
	flex: 1;
	float: left;
	background: #ff9402;
	height: 100%;
	font-size: 0.28rem;
	color: #fff;
	text-align: center;
	line-height: 0.85rem;
}

/*.y_bpj{
	height: 2.77rem;
	background: #fff;
	margin-top: 0.21rem;
}
.y_babt{
	display: block;
	height: 0.77rem;
	padding: 0 0.21rem 0 0.21rem;
}
.y_babt>p:nth-child(1){
	height: 0.77rem;
	line-height: 0.77rem;
	color: #2b3034;
	font-size: 0.22rem;
}
.y_babt>p:nth-child(2){
	height: 0.54rem;
	width: 100%;
}
.y_babt>p:nth-child(2)>a{
	height: 0.54rem;
	float: left;
	padding: 0 0.22rem;
	line-height: 0.54rem;
	background: #fdecea;
	color: #4d5560;
	border-radius: 0.15rem;
	font-size: 0.2rem;
	margin-right: 0.1rem;
}
.y_babt>p:nth-child(3){
	margin-top: 0.14rem;
	display: block;
	height: 0.54rem;
	width: 100%;
}
.y_babt>p:nth-child(3)>a{
	font-size: 0.2rem;
	height: 0.54rem;
	float: left;
	padding: 0 0.22rem;
	line-height: 0.54rem;
	background: #fdecea;
	color: #4d5560;
	border-radius: 0.15rem;
	margin-right: 0.1rem;
}*/



.y_bpj{
	background: #fff;
	margin-top: 0.21rem;
}
.y_babt{
	display: block;
	overflow:hidden;
	padding: 0 0.21rem 0 0.21rem;
}
.valuateList{
	width:100%;
	margin:0 auto;
	overflow:hidden;
}
.valuateList_one{
	width:100%;
	margin:0.3rem auto 0 auto;
}
.valuateList_one>div{
	width:100%;
	height:0.44rem;
	overflow:hidden;
}
.user{
	width:0.44rem;
	height:0.44rem;
	float:left;
	margin-right:0.08rem;
}
.user img{
	width: 100%;
}
.user_name{
	line-height:0.5rem;
	float:left;
	font-size:0.22rem;
	color:#000715;
	margin-right:0.08rem;
}
.heart{
	height:0.44rem;
	float:left;
	padding-top:0.1rem;
}
.heart>img{
	width:0.32rem;
	float:left;
	margin-right:0.04rem;
}
.valuateList_one>p:nth-child(2){
	width:100%;
	line-height:0.36rem;
	font-size:0.2rem;
	color:#000b19;
	margin-top:0.1rem;
}
.valuateList_one>p:nth-child(3){
	width:100%;
	line-height:0.36rem;
	font-size:0.2rem;
	color:#7a7a7a;
	margin-top:0.1rem;
}
.more_valuate{
	width:2rem;
	height:0.46rem;
	text-align:center;
	line-height:0.46rem;
	font-size:0.24rem;
	color:#ff5c11;
	margin:0.54rem auto 1.2rem auto;
	border:1px solid #ff5c11;
	border-radius:0.06rem;
}
.y_babt>p:nth-child(1){
	height: 0.77rem;
	line-height: 0.77rem;
	color: #2b3034;
	font-size: 0.22rem;
}
.y_babt>p:nth-child(2){
	height: 0.54rem;
	width: 100%;
}
.y_babt>p:nth-child(2)>a{
	height: 0.54rem;
	float: left;
	padding: 0 0.22rem;
	line-height: 0.54rem;
	background: #fdecea;
	color: #4d5560;
	border-radius: 0.15rem;
	font-size: 0.22rem;
	margin-right: 0.2rem;
}
.y_babt>p:nth-child(3){
	margin-top: 0.14rem;
	display: block;
	height: 0.54rem;
	width: 100%;
}
.y_babt>p:nth-child(3)>a{
	font-size: 0.2rem;
	height: 0.54rem;
	float: left;
	padding: 0 0.22rem;
	line-height: 0.54rem;
	background: #fdecea;
	color: #4d5560;
	border-radius: 0.15rem;
	margin-right: 0.1rem;
}



.shan_que{
	height: 0.8rem;
	width: 3.5rem;
	background: #fff;
	position: fixed;
	bottom:1.14rem;
	left: 50%;
	background: rgba(0,0,0,.5);
	margin-left: -1.5rem;
	/*padding: 0.3rem;*/
	/*box-shadow: 0 0.01rem 0.12rem #000;*/
	border-radius: 0.1rem;
	box-sizing: border-box;
	display: none;
	z-index: 999;
}
.shan_que p:nth-child(1){
	line-height: 0.8rem;
	font-size: 0.26rem;
	color: #fff;
	text-align: center;
}
.shan_que p:nth-child(2) span{
	float: right;
	width: 1rem;
	line-height: 0.4rem;
	color: #FF5500;
}








