*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 0.26rem;
}
#fan{
	width: 0.44rem;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}
#guanli .k_title{
	position: relative;
	height: 0.85rem;
	line-height: 0.85rem;
	font-size: 0.3rem;
	padding-left: 0.44rem;
	background: url(../img/k_left.png) no-repeat 0.07rem center #eee;
	background-size: 0.2rem 0.4rem;
	color: #333;
}
#guanli .k_content{
	background: #eee;
	min-height: 9.25rem;
	width: 100vw;
}
#guanli .k_content .k_section1{
	background: #fff;
	margin-bottom: 0.2rem;
}
#guanli .k_content .k_section1 .k_detail{
	height: 0.8rem;
	font-size: 0.26rem;
	color: #333333;
	padding: 0.16rem;
}
#guanli #k_name{
	float: left;
}
#guanli #k_tel{
	float: right;
}
#guanli #k_address{
	line-height: 0.4rem;
	font-size: 0.26rem;
	padding: 0.16rem;
	padding-top: 0;
}
#guanli .k_content .k_menu{
	height: 0.75rem;
	font-size: 0.26rem;
	border-top: 1px solid #e3e3e3;
	padding: 0.16rem;
}
#guanli .k_content .k_menu .k_left{
	float: left;
}
#guanli .k_content .k_menu .k_right{
	float: right;
}
#guanli .k_content .k_menu .k_right p{
	float: left;
	padding-left: 0.4rem;
	margin-left: 0.24rem;
}
#guanli .k_content .k_menu .k_right .k_bian{
	background: url(../img/k_bian.png) no-repeat left center;
	background-size: 0.33rem 0.33rem;
}
#guanli .k_content .k_menu .k_right .k_shan{
	background: url(../img/k_shan.png) no-repeat left center;
	background-size: 0.33rem 0.33rem;
}
#guanli .k_bottom{
	height: 0.85rem;
	background: #ff5500;
	line-height: 0.85rem;
	color: #fff;
	text-align: center;
	font-size: 0.26rem;
	letter-spacing: 0.02rem;
}
#guanli .k_bottom a{
	color: #fff;
	text-decoration: none;
}
#guanli{
	position: relative;
}
#guanli .heis{
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	opacity: .3;
	width: 100vw;
	height: 100vh;
}
#guanli .shan_que{
	height: 1.76rem;
	width: 5.4rem;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -0.88rem;
	margin-left: -2.7rem;
	padding: 0.3rem;
	box-shadow: 0 0.01rem 0.12rem #000;
	display: none;
	z-index: 999;
}
#guanli .shan_que p:nth-child(1){
	line-height: 0.66rem;
	color: #333;
}
#guanli .shan_que p:nth-child(2) span{
	float: right;
	width: 1rem;
	line-height: 0.4rem;
	color: #FF5500;
}
