*{
	margin:0;
	padding:0;
}
html,
body,
div,
span,
p,
h1,
h2,
h3,
b,
i,
a,
em,
input,
form,
img,
ul,
li,
dl,
dt {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-style: normal;
  box-sizing: border-box;
}
ul,
li,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display:block;
  width:100%;
}

header{
	width:100vw;
	height:4.08rem;
}
.Z_top{
	width:100vw;
	height:2.66rem;
	background:url(../img/pp1.jpg);
	background-size:cover;
	position:relative;
}
.Z_top_top{
	width:100vw;
	height:0.84rem;
	position:fixed;
	z-index:99;
}
.Z_top_top>a{
	display:block;
	font-size:0.24rem;
	color:#fff;
	top:0.26rem;
	left:0.24rem;
	position:absolute;
}
.Z_xiaoxi{
	width:0.52rem;
	height:0.46rem;
	position:absolute;
	right:0.16rem;
	top:0.2rem;
}
.Z_yonghu{
	width:1.7rem;
	height:2.88rem;
	margin:0 auto;
	overflow:hidden;
	padding-top:0.84rem;
}
.Z_yonghu_touxiang{
	display:block;
	width:0.86rem;
	height:0.86rem;
	margin:0 auto;
}
.Z_yonghu p{
	width:100%;
	height:0.52rem;
	line-height:0.52rem;
	font-size:0.22rem;
	color:#fff;
	text-align:center;
}
.taoqizhi{
	width:1.64rem;
	height:0.3rem;
	background:url(../img/pp4.jpg);
	background-size:cover;
	margin:0 auto;
	padding-left:0.28rem;
	overflow:hidden;
	display:flex;
}
.taoqizhi span:nth-child(1){
	border-right:0.01rem solid #fff;
	width:0.9rem;
}
.taoqizhi span{
	width:0.66rem;
	height:0.18rem;
	text-align:center;
	line-height:0.18rem;
	font-size:0.18rem;
	color:#fffcfd;
	display:block;
	margin-top:0.08rem;
}
.Z_bottom{
	width:100vw;
	height:1.42rem;
	display:flex;
}
.Z_bottom_one{
	flex:1;
	height:1.42rem;
	display:flex;
	flex-direction:column; 
}
.Z_bottom_one>img{
	width:0.64rem;
	margin:auto;
	margin-top:0.3rem;
}
.Z_bottom_one>p{
	width:100%;
	text-align:center;
	font-size:0.18rem;
	color:#f81f3e;
	margin:auto;
	margin-bottom:0.2rem;
}
.Z_dingdan{
	width:100vw;
	height:2.14rem;
	padding-top:0.16rem;
	background:#f4f4f4;
	border-top:0.01rem solid #d9d9d9;
	border-bottom:0.01rem solid #d9d9d9;
}
.Z_dingdan_top{
	width:100vw;
	height:0.8rem;
	padding-left:0.22rem;
	background:#fff;
	border-bottom:0.01rem solid #d9d9d9;
}
.Z_dingdan_top p{
	width:1.2rem;
	line-height:0.8rem;
	float:left;
	font-size:0.24rem;
}
.Z_dingdan_top a{
	display:block;
	width:1.56rem;
	font-size:0.18rem;
	line-height:0.8rem;
	float:right;
	color:#9a9a9a;
	margin-right:0.24rem;
	position: relative;
}
.Z_dingdan_top a span{
	font-size:0.28rem;
	position: absolute;
	right:0.18rem;
	top:-0.02rem;
}
.Z_dingdan_bottom{
	width:100vw;
	height:1.16rem;
	display:flex;
}
.Z_dingdan_bottom_one{
	flex:1;
	height:1.16rem;
	display:flex;
	background:#fff;
	flex-direction:column; 
} 
.Z_dingdan_bottom_one:nth-child(2) img{
	width:55%;
}
.Z_dingdan_bottom_one:nth-child(4) img{
	width:55%;
}
.Z_dingdan_bottom_one img{
	width:38%;
	margin:auto;
	margin-top:0.2rem;
}
.Z_dingdan_bottom_one p{
	font-size:0.18rem;
	margin:auto;
}
.Z_tools{
	width:100vw;
	height:6.26rem;
	padding-top:0.16rem;
	background:#f4f4f4;
	border-bottom:0.01rem solid #e4e4e4;
}
.Z_tools_top{
	width:100vw;
	height:0.78rem;
	background:#fff;
	padding-left:0.24rem;
}
.Z_tools_top p{
	width:1.2rem;
	line-height:0.78rem;
	float:left;
	font-size:0.24rem;
}
.Z_tools_top a{
	display:block;
	width:2.3rem;
	font-size:0.18rem;
	line-height:0.78rem;
	float:right;
	color:#9a9a9a;
	margin-right:0.24rem;
	position: relative;
	background:url(../img/pp14.jpg) no-repeat left;
	background-size:0.35rem 0.25rem;
	padding-left:0.4rem;
}
.Z_tools_top a span{
	font-size:0.28rem;
	position: absolute;
	right:0.18rem;
	top:-0.02rem;
}
.Z_tools_bottom{
	width:100vw;
	height:5.31rem;
	display:flex;
	flex-wrap:wrap;
	background:#fff;
}
.Z_tools_bottom_one:nth-child(4n){
	border-right:none;
}
.Z_tools_bottom_one{
	width:25vw;
	height:1.77rem;
	display:flex;
	flex-direction:column; 
	border-right:0.01rem solid #f4f4f4;
	border-top:0.01rem solid #f4f4f4;
}
.Z_tools_bottom_one img{
	width:33%;
	margin:auto;
	margin-top:0.4rem;
}
.Z_tools_bottom_one p{
	width:100%;
	line-height:0.52rem;
	font-size:0.2rem;
	text-align:center;
	margin:auto;
	margin-bottom:0.3rem;
}
.Z_hudong{
	width:100vw;
	height:2.74rem;
	background:#f4f4f4;
	padding-top:0.16rem;
}
.Z_hudong_top{
	width:100vw;
	height:0.78rem;
	line-height:0.78rem;
	padding-left:0.24rem;
	font-size:0.24rem;
	background:#fff;
}
.Z_hudong_bottom{
	width:100vw;
	height:1.78rem;
	display:flex;
	background:#fff;
}
.Z_hudong_bottom_one{
	flex:1;
	height:1.78rem;
	border-top:0.01rem solid #ececec;
	border-right:0.01rem solid #ececec;
	display:flex;
	flex-direction:column;
}
.Z_hudong_bottom_one img{
	width:32%;
	margin:auto;
	margin-top:0.4rem;
}
.Z_hudong_bottom_one p{
	font-size:0.2rem;
	width:100%;
	margin:auto;
	margin-bottom:0.4rem;
	text-align:center;
}
footer{
	width:100vw;
	height:1.64rem;
}
.Z_footer_top{
	width:100vw;
	height:0.85rem;
	background:#f4f4f4;
}
.Z_footer_bottom{
	width:100vw;
	height:0.79rem;
	border-top:0.01rem solid #ced0d8;
	display:flex;
	position:fixed;
	bottom:0;
	background:url(../img/pp32.jpg) no-repeat;
	background-size:cover;
}
.Z_footer_bottom_one{
	flex:1;
	height:0.78rem;
	display:flex;
	flex-direction:column;
}
.Z_footer_bottom_one img{
	width:0.36rem;
	margin:auto;
	margin-top:;
}
.Z_footer_bottom_one p{
	width:100%;
	text-align:center;
	font-size:0.14rem;
	color:#5f6164;
	margin:auto;
	margin-bottom:;
}
.Z_active{
	color:#ea1823;
}

