*{
	margin:0;
	padding:0;
}
html,
body,
div,
span,
p,
h1,
h2,
h3,
b,
i,
a,
em,
input,
form,
img,
ul,
li,
dl,
dt {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-style: normal;
  box-sizing: border-box;
}
ul,
li,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display:block;
  width:100%;
}
body{
  width:100vw;
  height:100vh;
  background:#eee;
}
.mD_top{
  width:100vw;
  height:1rem;
  position:relative;
  background:#f4f4f4;
  border-bottom:2px solid #d7d7d7;
}
.mD_top_arrow{
  width:0.2rem;
  height:0.36rem;
  position:absolute;
  top:0.32rem;
  left:0.26rem;
}
.mD_top_help{
  width:0.62rem;
  line-height:0.98rem;
  position:absolute;
  right:0.42rem;
  font-size:0.28rem;
}
.mD_top_user{
  width:2rem;
  height:0.98rem;
  text-align:center;
  margin:0 auto;
  font-size:0.3rem;
  font-weight:bold;
  line-height:0.98rem;
}
.mD_user_top{
  width:100vw;
  height:2rem;
  display:flex;
  flex-direction:column;
}
.mD_user_top img{
  width:0.96rem;
  height:0.96rem;
  border:0.05rem solid #fff;
  border-radius:50%;
  margin:auto;
  margin-top:0.4rem;
}
.mD_user_top p{
  font-size:0.24rem;
  margin:auto;
  margin-bottom:0.2rem;
}
.mD_user_center{
  width:100vw;
  height:1.96rem;
}
.mD_userpwd{
  width:100vw;
  height:0.86rem;
  background:#fff;
  display:flex;
  border-bottom:1px solid #d7d7d7;
}
.mD_userpwd span{
  display:block;
  width:1.86rem;
  padding-left:0.22rem;
  line-height:0.86rem;
  font-size:0.26rem;
  font-weight:bold;
}
.mD_userpwd input[type="password"]{
  display:block;
  width:2.34rem;
  height:0.84rem;
  font-size:0.26rem;
}
.mD_user_center input[type="button"]{
  display:block;
  width:6.08rem;
  height:0.84rem;
  background:#ff5000;
  font-size:0.3rem;
  text-align:center;
  color:#ed8867;
  border-radius:0.1rem;
  border:1px solid #ecfcff;
  margin:0.24rem auto 0 auto;
}
.mD_user_bottom{
  width:6.08rem;
  margin:0 auto;
}
.mD_user_bottom a:nth-child(1){
  float:left;
}
.mD_user_bottom a:nth-child(2){
  float:right;
}
.mD_user_bottom a{
  display:block;
  line-height:0.62rem;
  font-size:0.22rem;
  color:#505561;
}









