*{
	margin:0;
	padding:0;
}
html,
body,
div,
span,
p,
h1,
h2,
h3,
b,
i,
a,
em,
input,
form,
img,
ul,
li,
dl,
dt {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-style: normal;
  box-sizing: border-box;
}
ul,
li,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display:block;
  width:100%;
}
body{
  width:100vw;
  height:10.96rem;
  background:#eee;
  font-weight:bold;
}
.sZ_top{
  width:100vw;
  height:0.84rem;
  background:#f5f5f5;
  overflow:hidden;
}
.sZ_top_left{
  width:0.3rem;
  height:0.28rem;
  margin:0.28rem 0.44rem 0 0.34rem;
  float:left;
}
.sZ_top_sz{
  width:0.84rem;
  height:0.84rem;
  line-height:0.84rem;
  font-size:0.28rem;
  float:left;
}
.sZ_top_right{
  width:0.12rem;
  height:0.36rem;
  float:right;
  margin:0.24rem 0.36rem 0 0;
}
.sZ_center{
  width:100vw;
  height:9.26rem;
  padding-top:0.22rem;
}
.sZ_center_one{
  width:100vw;
  height:0.8rem;
  display:flex;
  background:#fff;
}
.sZ_center_one:nth-child(5){
  border-bottom:2px solid #e1e1e1;
}
.sZ_center_one:nth-child(5)>.sZ_center_one_right{
  border:none;
}
.sZ_center_one:nth-child(6){
  margin-top:0.22rem;
}
.sZ_center_one:nth-child(7){
  border-bottom:2px solid #d9d9d9;
}
.sZ_center_one:nth-child(7)>.sZ_center_one_right{
  border:none;
}
.sZ_center_one_left{
  width:0.86rem;
  height:0.8rem;
  display:flex;
}
.sZ_center_one_left img{
  width:0.44rem;
  margin:auto;
  margin-left:0.32rem;
}
.sZ_center_one_right{
  flex:1;
  height:0.8rem;
  line-height:0.78rem;
  position:relative;
  font-size:0.24rem;
  padding-left: 0.05rem;
  border-bottom:1px solid #ededed;
}
.sZ_center_one_right img{
  width:0.14rem;
  position:absolute;
  top:0.26rem;
  right:0.28rem;
}
.sZ_center_one_right a{
	color: #000;
}
.sZ_footer a{
	display:block;
	width:100vw;
  height:0.84rem;
  line-height:0.84rem;
  font-size:0.3rem;
  text-align:center;
  color:#fff;
  background:#ff5101;
}



















