* {
	margin: 0;
	padding: 0;
	list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
ul,
ol,
li,
dt,
dd,
dl,
i,
em,
strong,
b,
form {
	font-family: Verdana, Geneva, sans-serif 'Microsoft Yahei';
}

a {
	text-decoration: none;
}

html,
body {
	width: 100%;
	height: 100%;
}

i,
em {
	font-style: normal;
}

body {
	background: #eeeeee;
	/*position: relative;*/
}
img{
	display:block;
}

.yyy_xiaoxi{
	height: 0.95rem;
	width: 100%;
	background: url(../img/p10.jpg) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}
.yyy_a{
	float: left;
	display: block;
	height: 0.95rem;
	width: 0.32rem;
	background: url(../img/p27.jpg) center no-repeat;
	background-size: 0.32rem 0.3rem;
	padding-left: 0.4rem;
}
.yyy_b{
	height: 0.95rem;
	float: left;
	color: #fff;
	font-size: 0.34rem;
	line-height: 1rem;
}
.yyy_c{
	height: 0.95rem;
	padding-right: 0.3rem;
	display: block;
	float: right;
	width: 0.36rem;
	background: url(../img/p28.jpg) center no-repeat;
	background-size: 0.36rem 0.36rem;	
}

.yyy_d{
	float: right;
	color: #fff;
	font-size: 0.34rem;
	line-height: 1rem;
}
.yyy_first{
	width: 100%;
	height: 1.32rem;
	background: #fff;
	display: flex;
	border-bottom: 1px solid #ededed;
}
.yyy_first>i{
	display: inline-block;
	width: 1.02rem;
	height: 1.32rem;
	margin-left: 0.16rem;
}
.yyy_first>i>img{
	width: 1.02rem;
	height: 1.02rem;
	margin-top: 0.15rem;
}
.yyy_first>span{
	flex: 1;
	display: block;
	margin-left: 0.25rem;
	height: 0.96rem;
	margin-top: 0.18rem;
}
.yyy_first>span>p:nth-child(1){
	font-size: 0.28rem;
	color: #051b28;
	padding-top: 0.14rem;
}
.yyy_first>span>p:nth-child(1)>rq{
	float: right;
	color: #999999;
	padding-right: 0.22rem;
}
.yyy_first>span>p:nth-child(2){
	font-size: 0.24rem;
	color: #999999;
	padding-top: 0.14rem;
}


.yyy_sec{
	margin-top: 0.16rem;
	width: 100%;
	height: 1.32rem;
	background: #fff;
	display: flex;
	border-bottom: 1px solid #ededed;
}
.yyy_sec>i{
	display: inline-block;
	width: 1.02rem;
	height: 1.32rem;
	margin-left: 0.16rem;
}
.yyy_sec>i>img{
	width: 1.02rem;
	height: 1.02rem;
	margin-top: 0.15rem;
}
.yyy_sec>span{
	flex: 1;
	display: block;
	margin-left: 0.25rem;
	height: 0.96rem;
	margin-top: 0.18rem;
}
.yyy_sec>span>p:nth-child(1){
	font-size: 0.28rem;
	color: #051b28;
	padding-top: 0.14rem;
}
.yyy_sec>span>p:nth-child(1)>rq{
	float: right;
	color: #999999;
	padding-right: 0.22rem;
}
.yyy_sec>span>p:nth-child(2){
	font-size: 0.24rem;
	color: #999999;
	padding-top: 0.14rem;
}
.yyy_footer{
	width: 100%;
	height: 0.9rem;
	width: 100%;
	border-top: 1px solid #ededed;
	background: #fff;
	position: fixed;
	bottom: 0;
	
}
.yyy_footer>ul{
	display: block;
	height: 0.9rem;
	display: flex;
}
.yyy_footer>ul>li{
	padding-top: 0.08rem;
	display: block;
	flex: 1;
	text-align: center;
}
.yyy_footer>ul>li>img{
	margin: 0 auto;
	width: 0.47rem;
	height: 0.43rem;
}
.yyy_footer>ul>li>p{
	padding-top: 0.05rem;
	font-size: 0.18rem;
	color: #484d5a;
}
.yyy_footer>ul>li.no>p{
	padding-top: 0.05rem;
	font-size: 0.18rem;
	color: #ff4400;
}























