*{
	margin:0;
	padding:0;
	font-size: 0.26rem;
}
html,
body,
div,
span,
p,
h1,
h2,
h3,
b,
i,
a,
em,
input,
form,
img,
ul,
li,
dl,
dt {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-style: normal;
  box-sizing: border-box;
}
ul,
li,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display:block;
  width:100%;
}
body{
  width:100vw;
  height:100vh;
  background:#eee;
}
.aD_Top{
  width:100vw;
  height:1rem;
  position:relative;
  background:#f4f4f4;
  border-bottom:2px solid #d7d7d7;
}
.aD_top_arrow{
  width:0.2rem;
  height:0.36rem;
  position:absolute;
  top:0.32rem;
  left:0.26rem;
}
.aD_top_help{
  width:0.62rem;
  line-height:0.98rem;
  position:absolute;
  right:0.42rem;
  font-size:0.28rem;
}
.aD_top_user{
  width:2rem;
  height:0.98rem;
  text-align:center;
  margin:0 auto;
  font-size:0.3rem;
  font-weight:bold;
  line-height:0.98rem;
}
.aD_user{
  padding-top:0.24rem;
}
.aD_user_top{
  width:100vw;
  /*height:2.8rem;*/
}
.aD_user_top>div{
  width:100vw;
  height:0.86rem;
  background:#fff;
  display:flex;
  position:relative;
  border-bottom:1px solid #d7d7d7;
}
.aD_user_top>div>span{
  display:block;
  width:1.86rem;
  padding-left:0.22rem;
  line-height:0.86rem;
  font-size:0.26rem;
  font-weight:bold;
}
.aD_user_top>div>a{
  display:block;
  line-height:0.84rem;
  font-size:0.22rem;
  color:#484848;
  position:absolute;
  right:0.58rem;
}
.aD_user_top>div>input{
  display:block;
  width:2.34rem;
  height:0.84rem;
  font-size:0.26rem;
}
.aD_user_top>div>a>img{
  position:absolute;
  width:0.2rem;
  right:-0.35rem;
  top:0.24rem;
}
.aD_user_top>input[type="button"]{
  display:block;
  width:6.08rem;
  height:0.84rem;
  background:#ff5000;
  font-size:0.3rem;
  text-align:center;
  color:#ed8867;
  border:1px solid #ecfcff;
  margin:0.24rem auto 0 auto;
  border-radius:0.1rem;
}
.aD_user_center{
  width:6.08rem;
  line-height:0.36rem;
  font-size:0.22rem;
  color:#858585;
  margin:0.24rem auto 0 auto;
}
.aD_user_center a{
  color:#858585;
  text-decoration:underline;
}
.aD_user_bottom{
  width:6.08rem;
  height:0.54rem;
  margin:0 auto;
  display:flex;
}
.aD_user_bottom a{
  line-height:0.54rem;
  margin-right:0.36rem;
  margin-left:-0.12rem;
  color:#4a4f5a;
  font-size:0.22rem;
}

.shan_que{
	height: 1.76rem;
	width: 5.4rem;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -0.88rem;
	margin-left: -2.7rem;
	padding: 0.3rem;
	box-shadow: 0 0.01rem 0.12rem #000;
	display: none;
	z-index: 999;
}
.shan_que p:nth-child(1){
	line-height: 0.66rem;
	color: #333;
}
.shan_que p:nth-child(2) span{
	float: right;
	width: 1rem;
	line-height: 0.4rem;
	color: #FF5500;
}
.hei{
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 99;
	top: 0;
	left: 0;
}
